/* styles reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* variables */
:root {
  --primary: #04aa6d;
  --secondary: rgb(43, 40, 40);
  --tertiary: #f1f1f2;
  --forth: #fff;
  --shadow-on-white: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  --font-family: 'Lexend';
}
/* layout and general styles */

body {
  font-family:
    var(--font-family),
    -apple-system,
    system-ui,
    'Segoe UI',
    sans-serif;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  background-color: var(--tertiary);
  color: #000;
}

main {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}
header,
footer {
  background-color: var(--primary);
  color: var(--forth);
}

button {
  cursor: pointer;
  transition: transform 0.3s;
}

button:active {
  transform: scale(0.9);
}
input,
textarea {
  border-radius: 3px;
  border: 1px solid var(--secondary);
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--primary);
}
/* header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: inherit;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 5px solid transparent;
}

nav a:hover {
  border-bottom-color: #000;
}
header img {
  max-width: 100px;
  height: auto;
}

/* index styles */
.category-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--forth);
  max-width: 1000px;
  min-width: 600px;
  height: fit-content;
  gap: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow-on-white);
}

.category-container svg {
  width: 30px;
  height: 30px;
}

.category-container h1 {
  width: 100%;
  text-align: center;
}
.category-container a {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.category-container .category-card a:hover {
  color: var(--primary);
}

.category-card {
  display: flex;
  border-bottom: 1px solid var(--secondary);
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  background-color: var(--forth);
  border: none;
  border-radius: 5px;
}

.actions button svg {
  fill: var(--primary);
}
.actions button svg:hover {
  filter: brightness(0.7);
}
.createCategoryBtn {
  width: fit-content;
  background-color: var(--primary);
  border: var(--primary);
  border-radius: 5px;
}

.createCategoryBtn:hover {
  filter: brightness(0.8);
}
.createCategoryBtn a {
  color: var(--forth);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.createCategoryBtn a svg {
  fill: var(--forth);
}

.items-container {
  background-color: var(--forth);
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
  gap: 10px;
}

.addItemBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  width: fit-content;
  background-color: var(--primary);
  border: var(--forth);
  border-radius: 5px;
}
.addItemBtn:hover {
  filter: brightness(0.8);
}
.addItemBtn svg {
  width: 30px;
  height: 30px;
  fill: var(--forth);
}
.addItemBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  color: var(--forth);
  text-decoration: none;
}
.item-card {
  display: flex;
  justify-content: start;
  padding: 10px;
  border-bottom: 1px solid var(--secondary);
  width: 100%;
  position: relative;
}

.item-card svg {
  width: 30px;
  height: 30px;
}

.item-card img {
  max-width: 200px;
  max-height: 150px;
}

.item-card .infos {
  margin: 0 10px;
  max-width: 800px;
}

.item-card .name {
  font-size: 1.3rem;
  font-weight: 700;
}

.item-card .price {
  font-size: 1.2rem;
  font-weight: 700;
}
.item-card .stock {
  font-size: 1.1rem;
  font-weight: 500;
}

.item-card .actions {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 80%;
  right: 10px;
}
.item-card .actions svg {
  width: 30px;
  height: 30px;
  fill: var(--primary);
}

/* category form styles*/
.addForm {
  display: flex;
  flex-direction: column;
  background-color: var(--forth);
  padding: 20px;
  gap: 15px;
  border-radius: 10px;
  margin: 10px 0;
  width: 500px;
}

.addForm div {
  display: flex;
  flex-direction: column;
}

.addForm textarea {
  height: 200px;
  width: 100%;
}

.addForm > div:last-child {
  display: flex;
  align-items: center;
  width: 100%;
}
.addForm button {
  background-color: var(--primary);
  border: var(--primary);
  border-radius: 3px;
  width: fit-content;
  color: var(--forth);
  padding: 5px 15px;
}

.formErrors {
  color: red;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
